body {
  background-color: #2b2b6b !important ;
}



.ant-pagination-options{
  display: none !important;
}

.ant-pagination-item {
  margin-right: 8px !important; 
  margin-top: 8px !important;
}


.anticon-left,
.anticon-right {
  color: white !important;
}


.ant-pagination-item:hover {
  background-color: #ef4036 !important;
}
.ant-pagination-item-ellipsis{
  color: white !important;
}

.ant-table-container{
  border: 0% !important;
}



.acss-pgpe64{
  background-color: #fafafa !important;
}

:where(.css-dev-only-do-not-override-1rfzxih).ant-table-wrapper 
.ant-table.ant-table-bordered > .ant-table-container {
  border: none !important;
}
